<!doctype html>
<html data-ng-app>
	<head>
		<title>Angular 02 - Directives and Expressions</title>
	</head>
<body data-ng-init="name='Jim'">
	<!-- Start content -->
	<div data-ng-hide="isHidden">
		<label>Name:</label>
		<input type="text" data-ng-model="name" /> <span data-ng-bind="name"></span>
	</div>
	<p>
		Hide: <input type="checkbox" data-ng-model="isHidden" />
		<br />
		<button data-ng-click="name='Michele'">Change name</button>
	</p>
	<!-- SCRIPTS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</body>
</html>
