<!DOCTYPE html>
<html lang="en" data-ng-app="customersApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Angular Development</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body data-ng-controller="CustomersController">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavigation" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MB</a>
        </div><!-- end NAVBAR-HEADER -->

        <div class="collapse navbar-collapse" id="myNavigation">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Examples <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://mikebudahn.com/">Mike@Home</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- end NAVBAR-COLLAPSE -->

      </div><!-- end CONTAINER-FLUID -->
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-md-offset-2">
          <!-- START CONTENT -->

          <h1>04-Controllers</h1>

          <div class="myWorkArea"><!-- START MYWORKAREA -->
            <p>
              Filter by name: <input type="text" data-ng-model="customerFilter.name" />
            </p>
            <p>
              Click column headings to sort.
            </p>
            <table class="myTable">
              <tr>
                <th data-ng-click="doSort('name')">Name</th>
                <th data-ng-click="doSort('city')">City</th>
                <th data-ng-click="doSort('orderTotal')">Order Total</th>
                <th data-ng-click="doSort('joined')">Joined</th>
              </tr>
              <tr data-ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse">
                <td>{{ cust.name }}</td>
                <td>{{ cust.city }}</td>
                <td>{{ cust.orderTotal | currency }}</td>
                <td>{{ cust.joined | date }}</td>
              </tr>
            </table>
            <span>Total customers: {{ customers.length }}</span>


          </div><!-- end MYWORKAREA -->


          <!-- END CONTENT -->
        </div><!-- end MD-6 -->
      </div><!-- end ROW -->
    </div><!-- end CONTAINER-FLUID -->

    <!-- BEGIN FOOTER -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="row text-center">
          Bootstrap 3.3.6, Angular 1.5.6
        </div><!-- end ROW -->
      </div><!-- end CONTAINER -->
    </nav><!-- end FOOTER -->
    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/js/mike.js"></script>
    <!-- Includes for examples -->
    <script src="/app/app.js"></script>
    <script src="/app/controllers/customerControllers.js"></script>
    <!-- THE VERY END -->
  </body>
</html>