/* STYLES */
.red {
	color: red;
}
.navy {
	color: blue;
}
.big {
	font-size:2em;
}

/* ng-cloak */
[ng\:clock], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
	display: none !important;
}
