/* Welcome to Compass */
/* VARIABLES */
/* NG-CLOAK */
/* line 9, ../sass/screen.scss */
[ng\:clock], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
  display: none !important;
}

/* TABLE */
/* line 15, ../sass/screen.scss */
.myTable tr td {
  padding: 1em;
}
/* line 18, ../sass/screen.scss */
.myTable th {
  padding: 1em;
  text-align: center;
}
/* line 22, ../sass/screen.scss */
.myTable th:hover {
  cursor: pointer;
}
